html {
    box-sizing: border-box;
    background: url(/images/wallpaper.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #818181;
    font-size: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

  @media screen and (min-width: 1200px) {
    body {
                padding: 6% 0 8% 0;
                overflow-y: hidden;
    }
      }
      
      @media screen and (max-width: 1200px) {
    body {
            padding: 6%;
            overflow-y: hidden;
        }
    
    }
    .page-wrap {
        min-height: calc(100vh - 50px);
    }
    
    
      *, *:before, *:after {
        box-sizing: inherit;
    }

    /* links */

@media screen and (max-width: 1200px) {

    .linkspage {
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 3%);
        margin-top: calc(100% - 96.1%);
        margin-bottom: calc(100% - 89%);
        border: 1px solid #818181;
        border-radius: 5px;
        padding: 5px;
        background-color: #131313;
        box-shadow: 0 0 5px #c0c0c0;        
    }
    .pic {
        display: block;
        width: 256px;
        border-radius: 25px;
        margin-top: 15px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -15px;
    }
    .socials {
        margin-top: 25px;
        text-align: center;
    
    }
    
    .socials a.featured:hover, .socials a:hover {
        background-color:#1d1d1d;
        color:#818181;
        
    }
    
    .socials a {
        display: block;
        max-width: 250px;
        margin: 0 auto 15px;
        padding: 15px 20px;
        font-size: .85rem;
        color: #818181;;
        border: 2px solid #818181;
        border-radius: 5px;
        text-decoration:none;
        transition: all .2s ease-in-out
    }
    
    .socials a.featured {
        position: relative;
        background-color: #818181;
        color: #1d1d1d;
        font-weight: 700
    }
    
    .socials a.featured:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 2px solid #131313
    }

    .channels {
        display: flex;
        max-width: 250px;
        margin: 0 auto
    }
    
    .channels a {
        flex: 1;
        padding: 10px 15px 5px 15px;
        margin-right: 15px;
        background-color: #1d1d1d;
        border: none;
        border-radius: 5px;
    }
    
    .channels a:last-child {
        margin-right: 0
    }
    
    .channels a:hover {
        transform: scale(1.1, 1.1);
    }    
}

@media screen and (min-width: 1200px) {

.linkspage {
    display: block;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 33.6%);
    height: 100%;
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 5px;
    background-color: #131313;
    box-shadow: 0 0 5px #c0c0c0;

}

.socials {
    margin-top: 25px;
    text-align: center;

}

.socials a.featured:hover, .socials a:hover {
    background-color:#1d1d1d;
    color:#818181;
    
}

.socials a {
    display: block;
    max-width: 350px;
    margin: 0 auto 15px;
    padding: 15px 20px;
    font-size:.85rem;
    color: #818181;;
    border: 2px solid #818181;
    border-radius: 5px;
    text-decoration:none;
    transition: all .2s ease-in-out
}

.socials a.featured {
    position: relative;
    background-color: #818181;
    color: #1d1d1d;
    font-weight: 700
}

.socials a.featured:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    border: 2px solid #131313
}

.socials h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 15px;
    
}

.channels {
    display: flex;
    max-width: 350px;
    margin: 0 auto
}

.channels a {
    flex: 1;
    padding: 10px 15px 5px 15px;
    margin-right: 15px;
    background-color: #1d1d1d;
    border: none;
    border-radius: 5px;
}

.channels a:last-child {
    margin-right: 0
}

.channels a:hover {
    transform: scale(1.1, 1.1);
}
.pic {
    display: block;
    width: 381px;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -15px;
}
}

/*.linkspage {
    display: block;
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: -25px;
    background-color: #131313;
    box-shadow: 0 0 5px #c0c0c0;
}*/
.linkspage h4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 16px;
}

.linkspage #frog {
    width: 100%;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    color: #818181;
    text-align: center;
}

.footer {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
    font-size: 13px;
    color: #818181;
    text-align: center;
   
}