
#titlep {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 49px;
    margin-bottom: -10px;
    margin-left: auto;
    margin-right: auto;
    width: 12.5%;

}


/* gallery specific CSS */

.-fx-image-gal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 85%; /* arbitrary valye */
  margin: 0px auto;
}
.-fx-gal-item {
  width: 12.5%; /* for 3 columns */
  margin: 5px;
  overflow: hidden;
  border-radius: 15px;
}

.-fx-gal-image-thumb img {
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  filter: grayscale(80%);
  transition: all 0.3s ease;
}

.-fx-gal-image-thumb:hover img {
  width: 100%;
  cursor: pointer;
  filter: brightness(0.8);
}

.-fx-gal-image-thumb:focus + .-fx-gal-image-big {
  display: block;
}

.-fx-gal-image-big {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(5, 10, 15, 0.8);
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  z-index: 999;
  transition: all 0.3s ease;
}

.-fx-gal-image-big img {
  max-width: 40vw;
  position: absolute;
  box-shadow: 0px 0px 800px 40px rgba(0, 0, 0, 0.9);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1200px) {

    #titlep {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: 49px;
        margin-bottom: -10px;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
    }
    
    .-fx-image-gal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 85%; /* arbitrary valye */
        margin: 0px auto;
      }
      .-fx-gal-item {
        width: 25%; /* for 3 columns */
        margin: 5px;
        overflow: hidden;
        border-radius: 15px;
      }
      .-fx-gal-image-big {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(5, 10, 15, 0.8);
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        z-index: 999;
        transition: all 0.3s ease;
      }
      
      .-fx-gal-image-big img {
        max-width: 80vw;
        position: absolute;
        box-shadow: 0px 0px 800px 40px rgba(0, 0, 0, 0.9);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
}

@media screen and (max-width: 500px) {

    #titlep {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-top: 49px;
        margin-bottom: -10px;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .-fx-image-gal {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 85%; /* arbitrary valye */
        margin: 0px auto;
      }
      .-fx-gal-item {
        width: 45%; /* for 3 columns */
        margin: 5px;
        overflow: hidden;
        border-radius: 15px;
      }
      .-fx-gal-image-big {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(5, 10, 15, 0.8);
        overflow: hidden;
        height: 100vh;
        width: 100vw;
        z-index: 999;
        transition: all 0.3s ease;
      }
      
      .-fx-gal-image-big img {
        max-width: 100vw;
        position: absolute;
        box-shadow: 0px 0px 800px 40px rgba(0, 0, 0, 0.9);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
}

