<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="the official homepage for frop foundation">
      <meta name="author" content="Luiz 'frop' Eduardo">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>frop's pond</title>
      <link rel="shortcut icon" href="images/favicon.ico">
      <link rel="stylesheet" href="/css/style.css">
      <script src="../js/jquery.min.js"></script>
    </head>

    <!-- main section -->
    <div id="page-container">  
    <div id="page-wrap">
    
    <!-- navbar-->
    <div id="nav-placeholder"></div>
      <script>
      $(function(){
      $("#nav-placeholder").load("nav.html");
      });
      </script>

    <!-- end of navbar-->
    <main>


    </main>
    </div>
    
    <!-- footer section -->

    </div>
    <div id="footer-placeholder"></div>
    <script>
    $(function(){
    $("#footer-placeholder").load("footer.html");
    });
    </script>
    </body>
</html>